<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">
                   Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, 
                   matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{url('blog_index')}}">Accueil</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{url('blog_form')}}">Formulaire</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{url('blog_livre')}}">Visualisation Livre</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{url('blog_about')}}">A Propos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Plus de liens</a>
        </div>
    </div>
</footer>