{# empty Twig template #}
<h1>Nom du blog</h1>
<img src="https://upload.wikimedia.org/wikipedia/bar/thumb/2/27/Hello_Kitty_logo.svg/2000px-Hello_Kitty_logo.svg.png" alt="hello kitty" height="auto" width="42">
<a href="app_dev.php/about"> a propos </a>