{#{% extends "::general.html.twig" %}#}
{% extends "::generalMaterial.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block header %}
    {% include 'FrontBundle:header:headerMaterial.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'FrontBundle:footer:footerMaterial.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/front/jsMaterial.js') }}"></script>
{% endblock %}

{% block link %}
    <link rel="shortcut icon" type="image/x-icon" href="https://lc.cx/4WK8" />
    <link rel="stylesheet" href="{{ asset('bundles/front/cssMaterial.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://lc.cx/4siX"  >
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                {{form(form)}}
            </div>
        </div>


        
    </div>
{% endblock %}