{#{% extends "::general.html.twig" %}#}
{% extends "::generalMaterial.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block header %}
    {% include 'FrontBundle:header:headerMaterial.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'FrontBundle:footer:footerMaterial.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/front/jsMaterial.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/front/konamiCode.js') }}"></script>
{% endblock %}

{% block link %}
    <link rel="shortcut icon" type="image/x-icon" href="https://lc.cx/4WK8" />
    <link rel="stylesheet" href="{{ asset('bundles/front/cssMaterial.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{dump(users)}}
    </div>
{% endblock %}